<!DOCTYPE html>
<html lang="en">
    <head th:fragment="headTag">
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Lego :: Legal Departments document repository</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="favicon.icon" href="favicon.ico" />
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="../css/normalize.css" th:href="@{/css/normalize.css}"></link>
        <link rel="stylesheet" href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}"></link>
        <link rel="stylesheet" href="../css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"></link>
        <link rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}"></link>
        
        <script src="../js/vendor/jquery-1.12.0.min.js"  th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
        <script src="../js/vendor/bootstrap.min.js"  th:src="@{/js/vendor/bootstrap.min.js}"></script>
        <script src="../js/vendor/modernizr-2.8.3.min.js" th:href="@{/js/modernizr-2.8.3.min}"></script>
        <script src="../js/main.js"  th:src="@{/js/main.js}"></script>
        <script src="../js/plugins.js"  th:src="@{/js/plugins.js}"></script>
        
    </head>
    <body>
    </body>
</html>
