.container {
    margin-left: auto;
    margin-right: auto;
}
.container.\31 25\% {
    max-width: 1750px;
    min-width: 1400px;
    width: 100%;
}
.container.\37 5\% {
    width: 1050px;
}
.container.\35 0\% {
    width: 700px;
}
.container.\32 5\% {
    width: 350px;
}
.container {
    width: 1400px;
}
@media screen and (max-width: 1680px) {
body, input, select, textarea {
    font-size: 14pt;
}
header.special {
    margin-bottom: 4em;
    padding-top: 5.5em;
}
}
@media screen and (max-width: 1280px) {
body, input, select, textarea {
    font-size: 13pt;
    letter-spacing: 0.025em;
    line-height: 1.65em;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
}
header.major {
    padding-bottom: 1.5em;
}
footer.major {
    padding-top: 2em;
}
.wrapper {
    margin-bottom: 4em;
    padding: 4em 3em;
}
.wrapper.style4 {
    padding: 3em;
}
#header nav ul li {
    margin-left: 1em;
}
#banner {
    background-attachment: scroll;
}
#cta {
    background-attachment: scroll;
    padding: 4em;
}
#footer {
    padding: 4em;
}
}
@media screen and (max-width: 980px) {
body, input, select, textarea {
    font-size: 13pt;
    letter-spacing: 0.025em;
    line-height: 1.5em;
}
header br {
    display: none;
}
header.major {
    padding-bottom: 1em;
}
header.special {
    padding-left: 2.5em;
    padding-right: 2.5em;
}
footer.major {
    padding-top: 1.5em;
}
.wrapper {
    margin-bottom: 3em;
    padding: 3em 2.5em;
}
.wrapper.special br {
    display: none;
}
.wrapper.style1 {
    padding: 0 2.5em;
}
.wrapper.style2 {
    background-size: 15em auto;
}
.wrapper.style4 {
    padding: 2.5em;
}
#banner {
    background-size: 15em auto, 15em auto, auto auto, cover;
}
#main {
    background-size: 15em auto;
}
#cta {
    background-size: 15em auto, 15em auto, auto auto, cover;
    padding: 3em;
}
}
#navPanel, #navButton {
    display: none;
}
@media screen and (max-width: 840px) {
html, body {
    overflow-x: hidden;
}
header.major {
    padding-bottom: 0.25em;
}
header.special {
    margin-bottom: 4em;
    padding-top: 5em;
}
header.special::before, header.special::after {
    width: 40%;
}
header.special h2 + p {
    padding-top: 1.25em;
}
section {
    margin: 1em 0;
}
section:first-child {
    margin-top: 0;
}
input.small[type="button"], input.small[type="submit"], input.small[type="reset"], .button.small {
    font-size: 0.8em;
    min-width: 18em;
    padding: 0.75em 0;
}
ul.featured-icons {
    margin: 0;
}
ul.featured-icons li {
    display: inline-block;
    float: none;
    width: auto;
}
ul.featured-icons li .icon {
    font-size: 4em;
    width: 1.25em;
}
ul.buttons li {
    display: block;
    padding: 1em 0 0;
}
#banner {
    margin: 0;
}
.wrapper.special-alt {
    text-align: center;
}
.wrapper.style4 {
    padding-bottom: 3em;
}
#main {
    padding: 5em 0;
}
#main .sidebar {
    border-top: 1px solid rgba(124, 128, 129, 0.1);
    padding-top: 3em;
}
#main .sidebar section {
    border-top: 0 none;
    padding-top: 0;
}
body.index #main {
    padding-top: 4.5em;
}
#cta {
    margin: 0;
}
#footer {
    padding: 4em 1.5em;
}
}
@media screen and (max-width: 1680px) {
.container.\31 25\% {
    max-width: 1500px;
    min-width: 1200px;
    width: 100%;
}
.container.\37 5\% {
    width: 900px;
}
.container.\35 0\% {
    width: 600px;
}
.container.\32 5\% {
    width: 300px;
}
.container {
    width: 1200px;
}
}
@media screen and (max-width: 1280px) {
.container.\31 25\% {
    max-width: 1200px;
    min-width: 960px;
    width: 100%;
}
.container.\37 5\% {
    width: 720px;
}
.container.\35 0\% {
    width: 480px;
}
.container.\32 5\% {
    width: 240px;
}
.container {
    width: 960px;
}
}
@media screen and (max-width: 980px) {
.container.\31 25\% {
    max-width: 118.75%;
    min-width: 95%;
    width: 100%;
}
.container.\37 5\% {
    width: 71.25%;
}
.container.\35 0\% {
    width: 47.5%;
}
.container.\32 5\% {
    width: 23.75%;
}
.container {
    width: 95%;
}
}
@media screen and (max-width: 840px) {
.container.\31 25\% {
    max-width: 118.75%;
    min-width: 95%;
    width: 100%;
}
.container.\37 5\% {
    width: 71.25%;
}
.container.\35 0\% {
    width: 47.5%;
}
.container.\32 5\% {
    width: 23.75%;
}
.container {
    width: 95% !important;
}
}
@media screen and (max-width: 736px) {
.container.\31 25\% {
    max-width: 125%;
    min-width: 100%;
    width: 100%;
}
.container.\37 5\% {
    width: 75%;
}
.container.\35 0\% {
    width: 50%;
}
.container.\32 5\% {
    width: 25%;
}
.container {
    width: 100% !important;
}
}
@media screen and (min-width: 480px) {
body {
    background-color: #e8e8e8;
}
}
.row {
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
}
.row > * {
    box-sizing: border-box;
    float: left;
}
.row::after, .row::before {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.row.uniform > * > *:first-child {
    margin-top: 0;
}
.row.uniform > * > *:last-child {
    margin-bottom: 0;
}
.row.\30 \% > * {
    padding: 0;
}
.row.\30 \% {
    margin: 0 0 -1px;
}
.row.uniform.\30 \% > * {
    padding: 0;
}
.row.uniform.\30 \% {
    margin: 0 0 -1px;
}
.row > * {
    padding: 50px 0 0 50px;
}
.row {
    margin: -50px 0 -1px -50px;
}
.row.uniform > * {
    padding: 50px 0 0 50px;
}
.row.uniform {
    margin: -50px 0 -1px -50px;
}
.row.\32 00\% > * {
    padding: 100px 0 0 100px;
}
.row.\32 00\% {
    margin: -100px 0 -1px -100px;
}
.row.uniform.\32 00\% > * {
    padding: 100px 0 0 100px;
}
.row.uniform.\32 00\% {
    margin: -100px 0 -1px -100px;
}
.row.\31 50\% > * {
    padding: 75px 0 0 75px;
}
.row.\31 50\% {
    margin: -75px 0 -1px -75px;
}
.row.uniform.\31 50\% > * {
    padding: 75px 0 0 75px;
}
.row.uniform.\31 50\% {
    margin: -75px 0 -1px -75px;
}
.row.\35 0\% > * {
    padding: 25px 0 0 25px;
}
.row.\35 0\% {
    margin: -25px 0 -1px -25px;
}
.row.uniform.\35 0\% > * {
    padding: 25px 0 0 25px;
}
.row.uniform.\35 0\% {
    margin: -25px 0 -1px -25px;
}
.row.\32 5\% > * {
    padding: 12.5px 0 0 12.5px;
}
.row.\32 5\% {
    margin: -12.5px 0 -1px -12.5px;
}
.row.uniform.\32 5\% > * {
    padding: 12.5px 0 0 12.5px;
}
.row.uniform.\32 5\% {
    margin: -12.5px 0 -1px -12.5px;
}
.\31 2u, .\31 2u\$ {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u, .\31 1u\$ {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u, .\31 0u\$ {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u, .\39 u\$ {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u, .\38 u\$ {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u, .\37 u\$ {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u, .\36 u\$ {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u, .\35 u\$ {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u, .\34 u\$ {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u, .\33 u\$ {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u, .\32 u\$ {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u, .\31 u\$ {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$ + *, .\31 1u\$ + *, .\31 0u\$ + *, .\39 u\$ + *, .\38 u\$ + *, .\37 u\$ + *, .\36 u\$ + *, .\35 u\$ + *, .\34 u\$ + *, .\33 u\$ + *, .\32 u\$ + *, .\31 u\$ + * {
    clear: left;
}
.-\31 1u {
    margin-left: 91.6667%;
}
.-\31 0u {
    margin-left: 83.3333%;
}
.-\39 u {
    margin-left: 75%;
}
.-\38 u {
    margin-left: 66.6667%;
}
.-\37 u {
    margin-left: 58.3333%;
}
.-\36 u {
    margin-left: 50%;
}
.-\35 u {
    margin-left: 41.6667%;
}
.-\34 u {
    margin-left: 33.3333%;
}
.-\33 u {
    margin-left: 25%;
}
.-\32 u {
    margin-left: 16.6667%;
}
.-\31 u {
    margin-left: 8.33333%;
}
@media screen and (max-width: 1680px) {
.row > * {
    padding: 40px 0 0 40px;
}
.row {
    margin: -40px 0 -1px -40px;
}
.row.uniform > * {
    padding: 40px 0 0 40px;
}
.row.uniform {
    margin: -40px 0 -1px -40px;
}
.row.\32 00\% > * {
    padding: 80px 0 0 80px;
}
.row.\32 00\% {
    margin: -80px 0 -1px -80px;
}
.row.uniform.\32 00\% > * {
    padding: 80px 0 0 80px;
}
.row.uniform.\32 00\% {
    margin: -80px 0 -1px -80px;
}
.row.\31 50\% > * {
    padding: 60px 0 0 60px;
}
.row.\31 50\% {
    margin: -60px 0 -1px -60px;
}
.row.uniform.\31 50\% > * {
    padding: 60px 0 0 60px;
}
.row.uniform.\31 50\% {
    margin: -60px 0 -1px -60px;
}
.row.\35 0\% > * {
    padding: 20px 0 0 20px;
}
.row.\35 0\% {
    margin: -20px 0 -1px -20px;
}
.row.uniform.\35 0\% > * {
    padding: 20px 0 0 20px;
}
.row.uniform.\35 0\% {
    margin: -20px 0 -1px -20px;
}
.row.\32 5\% > * {
    padding: 10px 0 0 10px;
}
.row.\32 5\% {
    margin: -10px 0 -1px -10px;
}
.row.uniform.\32 5\% > * {
    padding: 10px 0 0 10px;
}
.row.uniform.\32 5\% {
    margin: -10px 0 -1px -10px;
}
.\31 2u\(wide\), .\31 2u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(wide\), .\31 1u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(wide\), .\31 0u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(wide\), .\39 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(wide\), .\38 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(wide\), .\37 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(wide\), .\36 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(wide\), .\35 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(wide\), .\34 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(wide\), .\33 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(wide\), .\32 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(wide\), .\31 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(wide\) + *, .\31 1u\$\(wide\) + *, .\31 0u\$\(wide\) + *, .\39 u\$\(wide\) + *, .\38 u\$\(wide\) + *, .\37 u\$\(wide\) + *, .\36 u\$\(wide\) + *, .\35 u\$\(wide\) + *, .\34 u\$\(wide\) + *, .\33 u\$\(wide\) + *, .\32 u\$\(wide\) + *, .\31 u\$\(wide\) + * {
    clear: left;
}
.-\31 1u\(wide\) {
    margin-left: 91.6667%;
}
.-\31 0u\(wide\) {
    margin-left: 83.3333%;
}
.-\39 u\(wide\) {
    margin-left: 75%;
}
.-\38 u\(wide\) {
    margin-left: 66.6667%;
}
.-\37 u\(wide\) {
    margin-left: 58.3333%;
}
.-\36 u\(wide\) {
    margin-left: 50%;
}
.-\35 u\(wide\) {
    margin-left: 41.6667%;
}
.-\34 u\(wide\) {
    margin-left: 33.3333%;
}
.-\33 u\(wide\) {
    margin-left: 25%;
}
.-\32 u\(wide\) {
    margin-left: 16.6667%;
}
.-\31 u\(wide\) {
    margin-left: 8.33333%;
}
}
@media screen and (max-width: 1280px) {
.row > * {
    padding: 40px 0 0 40px;
}
.row {
    margin: -40px 0 -1px -40px;
}
.row.uniform > * {
    padding: 40px 0 0 40px;
}
.row.uniform {
    margin: -40px 0 -1px -40px;
}
.row.\32 00\% > * {
    padding: 80px 0 0 80px;
}
.row.\32 00\% {
    margin: -80px 0 -1px -80px;
}
.row.uniform.\32 00\% > * {
    padding: 80px 0 0 80px;
}
.row.uniform.\32 00\% {
    margin: -80px 0 -1px -80px;
}
.row.\31 50\% > * {
    padding: 60px 0 0 60px;
}
.row.\31 50\% {
    margin: -60px 0 -1px -60px;
}
.row.uniform.\31 50\% > * {
    padding: 60px 0 0 60px;
}
.row.uniform.\31 50\% {
    margin: -60px 0 -1px -60px;
}
.row.\35 0\% > * {
    padding: 20px 0 0 20px;
}
.row.\35 0\% {
    margin: -20px 0 -1px -20px;
}
.row.uniform.\35 0\% > * {
    padding: 20px 0 0 20px;
}
.row.uniform.\35 0\% {
    margin: -20px 0 -1px -20px;
}
.row.\32 5\% > * {
    padding: 10px 0 0 10px;
}
.row.\32 5\% {
    margin: -10px 0 -1px -10px;
}
.row.uniform.\32 5\% > * {
    padding: 10px 0 0 10px;
}
.row.uniform.\32 5\% {
    margin: -10px 0 -1px -10px;
}
.\31 2u\(normal\), .\31 2u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(normal\), .\31 1u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(normal\), .\31 0u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(normal\), .\39 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(normal\), .\38 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(normal\), .\37 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(normal\), .\36 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(normal\), .\35 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(normal\), .\34 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(normal\), .\33 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(normal\), .\32 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(normal\), .\31 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(normal\) + *, .\31 1u\$\(normal\) + *, .\31 0u\$\(normal\) + *, .\39 u\$\(normal\) + *, .\38 u\$\(normal\) + *, .\37 u\$\(normal\) + *, .\36 u\$\(normal\) + *, .\35 u\$\(normal\) + *, .\34 u\$\(normal\) + *, .\33 u\$\(normal\) + *, .\32 u\$\(normal\) + *, .\31 u\$\(normal\) + * {
    clear: left;
}
.-\31 1u\(normal\) {
    margin-left: 91.6667%;
}
.-\31 0u\(normal\) {
    margin-left: 83.3333%;
}
.-\39 u\(normal\) {
    margin-left: 75%;
}
.-\38 u\(normal\) {
    margin-left: 66.6667%;
}
.-\37 u\(normal\) {
    margin-left: 58.3333%;
}
.-\36 u\(normal\) {
    margin-left: 50%;
}
.-\35 u\(normal\) {
    margin-left: 41.6667%;
}
.-\34 u\(normal\) {
    margin-left: 33.3333%;
}
.-\33 u\(normal\) {
    margin-left: 25%;
}
.-\32 u\(normal\) {
    margin-left: 16.6667%;
}
.-\31 u\(normal\) {
    margin-left: 8.33333%;
}
}
@media screen and (max-width: 980px) {
.row > * {
    padding: 30px 0 0 30px;
}
.row {
    margin: -30px 0 -1px -30px;
}
.row.uniform > * {
    padding: 30px 0 0 30px;
}
.row.uniform {
    margin: -30px 0 -1px -30px;
}
.row.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.uniform.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.uniform.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.uniform.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.uniform.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.uniform.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.uniform.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.row.uniform.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.uniform.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.\31 2u\(narrow\), .\31 2u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(narrow\), .\31 1u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(narrow\), .\31 0u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(narrow\), .\39 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(narrow\), .\38 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(narrow\), .\37 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(narrow\), .\36 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(narrow\), .\35 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(narrow\), .\34 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(narrow\), .\33 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(narrow\), .\32 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(narrow\), .\31 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(narrow\) + *, .\31 1u\$\(narrow\) + *, .\31 0u\$\(narrow\) + *, .\39 u\$\(narrow\) + *, .\38 u\$\(narrow\) + *, .\37 u\$\(narrow\) + *, .\36 u\$\(narrow\) + *, .\35 u\$\(narrow\) + *, .\34 u\$\(narrow\) + *, .\33 u\$\(narrow\) + *, .\32 u\$\(narrow\) + *, .\31 u\$\(narrow\) + * {
    clear: left;
}
.-\31 1u\(narrow\) {
    margin-left: 91.6667%;
}
.-\31 0u\(narrow\) {
    margin-left: 83.3333%;
}
.-\39 u\(narrow\) {
    margin-left: 75%;
}
.-\38 u\(narrow\) {
    margin-left: 66.6667%;
}
.-\37 u\(narrow\) {
    margin-left: 58.3333%;
}
.-\36 u\(narrow\) {
    margin-left: 50%;
}
.-\35 u\(narrow\) {
    margin-left: 41.6667%;
}
.-\34 u\(narrow\) {
    margin-left: 33.3333%;
}
.-\33 u\(narrow\) {
    margin-left: 25%;
}
.-\32 u\(narrow\) {
    margin-left: 16.6667%;
}
.-\31 u\(narrow\) {
    margin-left: 8.33333%;
}
}
@media screen and (max-width: 840px) {
.row > * {
    padding: 30px 0 0 30px;
}
.row {
    margin: -30px 0 -1px -30px;
}
.row.uniform > * {
    padding: 30px 0 0 30px;
}
.row.uniform {
    margin: -30px 0 -1px -30px;
}
.row.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.uniform.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.uniform.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.uniform.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.uniform.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.uniform.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.uniform.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.row.uniform.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.uniform.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.\31 2u\(narrower\), .\31 2u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(narrower\), .\31 1u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(narrower\), .\31 0u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(narrower\), .\39 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(narrower\), .\38 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(narrower\), .\37 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(narrower\), .\36 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(narrower\), .\35 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(narrower\), .\34 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(narrower\), .\33 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(narrower\), .\32 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(narrower\), .\31 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(narrower\) + *, .\31 1u\$\(narrower\) + *, .\31 0u\$\(narrower\) + *, .\39 u\$\(narrower\) + *, .\38 u\$\(narrower\) + *, .\37 u\$\(narrower\) + *, .\36 u\$\(narrower\) + *, .\35 u\$\(narrower\) + *, .\34 u\$\(narrower\) + *, .\33 u\$\(narrower\) + *, .\32 u\$\(narrower\) + *, .\31 u\$\(narrower\) + * {
    clear: left;
}
.-\31 1u\(narrower\) {
    margin-left: 91.6667%;
}
.-\31 0u\(narrower\) {
    margin-left: 83.3333%;
}
.-\39 u\(narrower\) {
    margin-left: 75%;
}
.-\38 u\(narrower\) {
    margin-left: 66.6667%;
}
.-\37 u\(narrower\) {
    margin-left: 58.3333%;
}
.-\36 u\(narrower\) {
    margin-left: 50%;
}
.-\35 u\(narrower\) {
    margin-left: 41.6667%;
}
.-\34 u\(narrower\) {
    margin-left: 33.3333%;
}
.-\33 u\(narrower\) {
    margin-left: 25%;
}
.-\32 u\(narrower\) {
    margin-left: 16.6667%;
}
.-\31 u\(narrower\) {
    margin-left: 8.33333%;
}
}
@media screen and (max-width: 736px) {
.row > * {
    padding: 30px 0 0 30px;
}
.row {
    margin: -30px 0 -1px -30px;
}
.row.uniform > * {
    padding: 30px 0 0 30px;
}
.row.uniform {
    margin: -30px 0 -1px -30px;
}
.row.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.uniform.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.uniform.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.uniform.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.uniform.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.uniform.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.uniform.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.row.uniform.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.uniform.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.\31 2u\(mobile\), .\31 2u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(mobile\), .\31 1u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(mobile\), .\31 0u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(mobile\), .\39 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(mobile\), .\38 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(mobile\), .\37 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(mobile\), .\36 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(mobile\), .\35 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(mobile\), .\34 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(mobile\), .\33 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(mobile\), .\32 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(mobile\), .\31 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(mobile\) + *, .\31 1u\$\(mobile\) + *, .\31 0u\$\(mobile\) + *, .\39 u\$\(mobile\) + *, .\38 u\$\(mobile\) + *, .\37 u\$\(mobile\) + *, .\36 u\$\(mobile\) + *, .\35 u\$\(mobile\) + *, .\34 u\$\(mobile\) + *, .\33 u\$\(mobile\) + *, .\32 u\$\(mobile\) + *, .\31 u\$\(mobile\) + * {
    clear: left;
}
.-\31 1u\(mobile\) {
    margin-left: 91.6667%;
}
.-\31 0u\(mobile\) {
    margin-left: 83.3333%;
}
.-\39 u\(mobile\) {
    margin-left: 75%;
}
.-\38 u\(mobile\) {
    margin-left: 66.6667%;
}
.-\37 u\(mobile\) {
    margin-left: 58.3333%;
}
.-\36 u\(mobile\) {
    margin-left: 50%;
}
.-\35 u\(mobile\) {
    margin-left: 41.6667%;
}
.-\34 u\(mobile\) {
    margin-left: 33.3333%;
}
.-\33 u\(mobile\) {
    margin-left: 25%;
}
.-\32 u\(mobile\) {
    margin-left: 16.6667%;
}
.-\31 u\(mobile\) {
    margin-left: 8.33333%;
}
}
@keyframes reveal-header {
0% {
    top: -5em;
}
100% {
    top: 0;
}
}
@keyframes reveal-header {
0% {
    top: -5em;
}
100% {
    top: 0;
}
}
#header {
    background: #084467 none no-repeat scroll 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    color: inherit;
    cursor: default;
    font-size: 0.8em;
    left: 0;
    padding: 1em 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
#header h1 {
    font-weight: 900;
    margin: 0;
}
#header h1 span {
    font-weight: 300;
}
#header nav {
    letter-spacing: 0.075em;
    position: absolute;
    right: 1.5em;
    top: 0.75em;
}
#header nav ul li {
    display: inline-block;
    margin-left: 1.5em;
}
#header nav ul li > ul {
    display: none;
}
#header nav ul li a {
    border: 1px solid transparent;
    color: inherit;
    display: inline-block;
    line-height: 1em;
    padding: 0.6em 0.75em;
    text-decoration: none;
}
#header nav ul li input[type="button"], #header nav ul li input[type="submit"], #header nav ul li input[type="reset"], #header nav ul li .button {
    font-size: 1em;
    min-width: 0;
    width: auto;
}
#header nav ul li.submenu > a {
    text-decoration: none;
}
#header nav ul li.submenu > a::before {
    -moz-osx-font-smoothing: grayscale;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
#header nav ul li.submenu > a::before {
    content: "";
    margin-right: 0.65em;
}
#header nav ul li.active > a, #header nav ul li:hover > a {
    background: rgba(188, 202, 206, 0.15) none repeat scroll 0 0;
    transition: all 0.2s ease-in-out 0s;
}
#header nav ul li.current > a {
    font-weight: 900;
}
#header.reveal {
    animation: 0.5s ease 0s normal none 1 running reveal-header;
}
#header.alt {
    animation: 0s ease 0s normal none 1 running none;
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    color: #000;
    padding: 2em 2.5em;
    position: absolute;
}
#header.alt nav {
    right: 2.5em;
    top: 1.75em;
}
#header.alt nav ul li.active > a, #header.alt nav ul li:hover > a {
    border: 1px solid;
}
#header a {
    border-bottom: 0 none;
}
#main {
    background-position: left top, right top, left bottom, right bottom;
    background-repeat: no-repeat;
    background-size: 20em auto;
    display: block;
}
#main > *:last-child {
    margin-bottom: 0;
}
#main .sidebar section {
    border-top: 1px solid rgba(124, 128, 129, 0.2);
    margin: 3em 0 0;
    padding: 3em 0 0;
}
#main .sidebar section:first-child {
    border-top: 0 none;
    margin-top: 0;
    padding-top: 0;
}
body.index #main {
    padding-top: 7em;
}
#footer {
    background: #ccc none repeat scroll 0 0;
    color: #7c8081;
    padding: 2em 1em 3em 3em;
    text-align: center;
}
#footer .copyright {
    font-size: 0.8em;
    line-height: 1em;
}
#footer .copyright a {
    color: inherit;
}
#footer .copyright li {
    border-left: 1px dotted;
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
}
#footer .copyright li:first-child {
    border: 0 none;
    margin: 0;
    padding: 0;
}
