/*
    Search Box Styles for Expanding Search Box

    Created on : 27-Apr-2016, 12:53:25
    Author     : Mark Wilson
*/

.sb-search {
    float: right;
    height: 60px;
    margin-top: 10px;
    min-width: 60px;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease 0s;
    width: 0;
}
.sb-search-input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-family: inherit;
    font-size: 20px;
    height: 60px;
    margin: 0;
    outline: medium none;
    padding: 20px 65px 20px 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
.sb-search-input:-moz-placeholder {
    color: #fff;
}
.sb-search-input::-moz-placeholder {
    color: #fff;
}
.sb-icon-search, .sb-search-submit {
    cursor: pointer;
    display: block;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
}
.sb-search-submit {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: transparent;
    opacity: 0;
    outline: medium none;
    z-index: -1;
}
.sb-icon-search {
    background: #e67e22 none repeat scroll 0 0;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
    z-index: 90;
}
sb-icon-search::before {
    -moz-osx-font-smoothing: grayscale;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 50%;
}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
    background: #da6d0d none repeat scroll 0 0;
    color: #fff;
    z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {
    z-index: 90;
}
